body {
    padding-top: 5rem;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

.bom-template-center {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* error page */
.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}