apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-test
spec:
  selector:
    matchLabels:
      app: demo
  replicas: 1
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: youngro/docker-hub-dcim-test:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 7782